:root{
    --main-color: #F3722C;
}

body{
    margin: 0px;
    padding: 0px;
    color: white;
    overflow-y: hidden;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(00, 00, 00, .88);    
}

main{
    z-index: 0;
    position: relative;
    height: calc(100vh - 57px);
    background-color: transparent;
}

.navbar-container{
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    border: 1px solid transparent;
    border-bottom-color: var(--main-color);
}

.logo-atom{
    font-size: 35px;
    color: var(--main-color);
}

.button-container{
    width: 60px;
    height: 30px;
    display: flex;
    cursor: pointer;
    padding: 0px 2px;
    position: relative;
    border-radius: 30px;    
    align-items: center;
    box-sizing: border-box;
    border: 1px solid var(--main-color);
}

.logo-container{
    margin-right: auto;
}

.button{
    left: 2px;
    width: 25px;
    height: 25px;
    position: absolute;
    border-radius: 50%;
    transition: left .2s;
    background-color: var(--main-color);
}

.wave{
    bottom: 0px;
    position: absolute;
}

.darkMode{
    color: black;
    background-color: white;
}

.symbolTable{
    margin: 10px;
    text-align: left;
    width: calc(100vw - 30px);
    border-collapse: collapse;
}

th, tr, td{
    border-top: 1px solid #00000057
}

th{
    padding-left: 5px;
}

tr{
    height: 35px;
}

td{
    padding-left: 5px;
}

.symbolTable{
    overflow-y: scroll;
}

.containerTable{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}